body {
	background: #cde2b0 url(../images/footer.png) no-repeat;
	background-position: center 160%;
	text-align: center;
	font-family: Microsoft YaHei UI;
	font-size: 18px;
}

a {
	font-size: 0.65em;
	color: #E2433A;#e21083;
	text-decoration: none;
}

.header {
	margin: 2em auto;
	padding: 0;
}

.header table {
	background-color: #37a586;
	margin: 0 auto;
	width: 65%;
}

.header table td {
	height: 30px;
}

#s0, #s1, #s2 td {
	width: 20%;
}

#header a {
	font-family: 华文新魏;
	font-size: 1.5em;
	color: #ffffff;
}

#s1 a {
	font-size: 0.7em;
	color: #74eaf1;
}

#s2 a {
	font-size: 0.7em;
	color: #97e081;
}

.tablebody {
	margin: 3.5em auto;
	padding: 0;
}

.tablebody table {
	margin: 0 auto;
	width: 63%;
	border: none;
	border-collapse: separate;
	border-spacing: 0.3em;
	/*border-top: 1px solid red;*/
	/*border-bottom: 1px solid teal;*/
}

.tablebody table th {
	width: 9%;
	height: 42px;
	border-radius: 5px;
}

.tablebody table td {
	width: 9%;
	height: 32px;
	border-radius: 5px;
}

.tablebody th {
	font-size: 0.9em;
	color: #f70808;
}

.tablebody th a {
	font-size: 1em;
	color: #196fde;
}

.tablebody td a {
	font-size: 0.65em;
}

.tablebody tr:nth-of-type(odd) {
	background-color: #bbd09e;#BEB
}
.tablebody tr:nth-of-type(even) {
	background-color: #ccd093;
}

.info-th {
	background-color: #ccc033;
}

/*.r1, .r2, .r3, .r4, .r5, .r6, .r7 td {width: 14.2857%;}*/

.footer a {
	font-size: 1.25em;
	color: #2cc52b;
}