* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

body {
    background-color: #FFF;
    font-family: '微软雅黑';
    font-size: 1rem;
    width: 1000px;
    margin: 0 auto;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.header {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

.logo {
    height: 50px;
    line-height: 50px;
    float: left;
}

.header .logo img {
    width: 30px;
    height: 30px;
    margin: 10px 10px;
    float: left;
}

.header .logo a {
    font-size: 1.25em;
    font-weight: bold;
    color: #000;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 2px #EEE;
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    background-color: RGBA(238,238,238,0.33);
}

.navbar ul {
    list-style: none;
}

.navbar li {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    position: relative;
    background-color: RGBA(238,238,238,0);
}

ul.subnav li {
    height: 30px;
    line-height: 30px;
    background-color: #EEE;
}

ul.subnav {
    display: none;
    position: absolute;
}

li.box:hover ul {
    display: block;
}

ul.subnav li a {
    font-size: 0.9em;
    font-weight: normal;
    width: 100%;
}

.navbar li:hover {
    background-color: #DDD;
    border-bottom: 2px solid #6B6;
}

.navbar li:hover a {
    color: #F60 !important;
}

ul.subnav li:hover {
    border-bottom: none;
}

/* .navbar a:hover { */
    /* color: #000; */
/* } */

.content {
    background-color: RGBA(192,192,192,0.2);
    width: 100%;
    box-shadow: 0 1px 1px #EEE;
    overflow: auto;
    /* height: 700px; */
    height: 800px;
    text-align: center;
    margin-bottom: 10px;
}

.section {
    clear: both;
}

.label {
    text-align: left;
    height: 36px;
    line-height: 36px;
    margin: 1.0% 1.25%;
    font-size: 0.8em;
    background-color: RGBA(0,128,255,0.1);
}

.label strong:before {
    content: "+";
    margin: 0 10px;
}

.label:hover {
    background-color: RGBA(0,128,255,0.25);
}

.card a {
    display: block;
    width: 10%;
    background-color: #FFF;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 1.25%;
    margin-bottom: 1.0%;
    box-shadow: 0 1px 1px #DDD;
    font-size: 0.75em;
    color: #000;
}

.card a:hover {
    background-color: #EEE;
    color: #60F;
    box-shadow: 0px 1px 1px #6B6;
    transform: translate(0, -1px);
    transition-delay: 0s !important;
}

.footer {
    width: 1000px;
    padding: 10px;
    font-size: 0.75em;
}

a.highlight {
    color: #06F;
}

a.highrequest {
    /* color: #F00; */
    color: #06F;
    background-color: #FDD;
}

.footer a:after {
    content: "|";
    color: #000;
    margin: 0 10px;
}
